##### VAGRANT STUFF #####
vagrant/.vagrant

##### ANSIBLE STUFF #####
ansible/playbook.retry

##### PYTHON STUFF #####
# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Distribution / packaging
**/.Python
**/env/
**/.DS_STORE

# Sphinx documentation
**/docs/_build/
