[program:{{ item.name }}] 
directory = {{ item.path_root }}
command = {{ item.path_root }}/run-gunicorn.sh
user = root
stdout_logfile = {{ item.path_logs }}/supervisor/supervisor.log
stderr_logfile = {{ item.path_logs }}/supervisor/supervisor.err
redirect_stderr = True
environment = PRODUCTION=1
startretries=10