server {
    listen {{ item.listen }};
    server_name {{ item.server_name }};

    root /home/{{ user }}/{{ item.name }};

    access_log /home/{{ user }}/{{ item.name }}/logs/nginx/access.log;
    error_log /home/{{ user }}/{{ item.name }}/logs/nginx/error.log;

    location / {
        proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        if (!-f $request_filename) {
            proxy_pass {{ item.proxy_pass }};
            break;
        }
    }

    location /static {
        alias  /home/{{ user }}/{{ item.name }}/app/static/;
        autoindex on;
    }
}