server {
    listen {{ item.listen }};
    server_name {{ item.server_name }};

    root {{ item.path_root }};

    access_log {{ item.path_logs }}/nginx/access.log;
    error_log {{ item.path_logs }}/nginx/error.log;

    location / {
        proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        if (!-f $request_filename) {
            proxy_pass {{ item.proxy_pass }};
            break;
        }
    }

    location /static {
        alias  {{ item.path_static }};
        autoindex on;
    }
}