---

- name: Install supervisord
  apt: pkg=supervisor state=present

- name: Create supervisord group
  group: name=supervisord system=yes state=present

- name: Supervisor | Configure
  template:
    src=supervisord.conf.j2
    dest=/etc/supervisor/conf.d/{{ flask_app_name }}.conf

- name: Start supervisord
  service: name=supervisor state=started enabled=yes