#!/bin/bash

LOGFILE={{ item.path_logs }}/gunicorn/gunicorn.log
NUM_WORKERS={{ item.num_worker }}
WORKER_TIMEOUT={{ item.worker_timeout }}
ADDRESS={{ item.server_ip }}

cd {{ item.path_root }}
source {{ item.path_virtualenv }}/bin/activate
exec gunicorn run:app -w $NUM_WORKERS --bind=$ADDRESS \
  --timeout=$WORKER_TIMEOUT \
  --log-level=debug \
  --timeout=$WORKER_TIMEOUT \
  --pythonpath={{ item.path_root }} \
  --log-file=$LOGFILE 2>>$LOGFILE

